.app_bar { 
    width: 100%;  
    height: 55px;  
    background-color: rgb(240, 248, 255);  
    background-color: #121212;  
    color: white;  
    /* filter: blur(10px); */
    backdrop-filter: blur(10px);  
    position: sticky;  
    top: 0px; /* Adjust the top position as per your requirement */
    left: 0px;   
    z-index: 100;   
    display: flex;  
    justify-content: space-between;  
    align-items: center;   
    font-size: var(--font-size-body);  
    font-weight: bold;  
} 
 
.app_bar_name { 
    /* padding: 0px 10px;  */
    margin-left: 10px;
} 

.imageLeft { 
    border-radius: 50%; 
    height: 40px; 
    width: 40px; 
    background-color: black; 
    /* margin: 0px 10px;  */
    margin-left: 15px;
    cursor: pointer;
} 

.imageright { 
    border-radius: 50%; 
    height: 35px; 
    width: 35px; 
    background-color: black; 
    /* margin: 0px 10px;  */
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
} 

.start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background: url("../../public/logo.png")
}



@media (max-width: 749px) {
    .app_bar {
        position: fixed;
        width: calc(100% - 20px);  
        padding: 0px 10px;
     }
  }