.home { 
    width: 100vw; 
    height: 100%; 
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
} 

.home_static_widget {
    width: 350px;
    height: 100%;
}

.home_dynamic_widget {
    width: calc(100% - 350px);
    height: 100%;
}


@media (max-width: 700px) {
    .home_static_widget {
        width: 100%;
        height: 100%;
    }
  }
  