.app {
    width: 100vw;
    height: 100%;
    position: relative;
    
    /* background-color: rgb(244, 244, 244); */
}

/* Font Sizes for Mobile Devices */
:root {
  --font-size-body: 18px; 
  --font-size-heading: 32px; 
  --font-size-subheading: 22px; 
  --font-size-small: 14px; 

  --primary-color: black; /* Blue */
  --secondary-color: #121212; /* Gray */
  --territary-color: #232323; /* Yellow */
  --primary-font-color: white; /* Green */
  --secondary-font-color:  #cccccc;
  --accet-color: #9b1fe8
  
}

@media screen and (min-width: 1440px) {
  :root {
    --font-size-body: 20px;
    --font-size-heading: 36px;
    --font-size-subheading: 24px;
    --font-size-small: 16px;
  }
}

