:root {
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scroll-snap-type:inline mandatory;
  transition: scroll-behavior 2s;
}


*,body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* background-color: black; */
  color: rgb(255, 255, 255);
}

@media (max-width: 749px) { 
  *,body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -moz-user-select: none; 
    -o-user-select:none;
  }
}


